.txt-style {
  color: #ffffff;
  font-family: Arial, sans-serif, Microsoft YaHei, Microsoft JhengHei,
    "微软雅黑体", "微軟雅黑體", "微軟正黑體", "黑體";
}

.auto-web {
  display: flex;
  flex-direction: column;
  width: 100%;
}
